<!DOCTYPE html>
<html data-cdn="<%= cdn_root %>" >
<head>
    <title><%= recipient.title %></title>
    <script type="text/javascript" src="js/<%= name %>-vendors.<%= suffix %>js"></script>
    <script type="text/javascript" src="js/<%= name %>.<%= suffix  %>js"></script>
    <link rel="stylesheet" type="text/css" href="css/<%= name %>-vendors.css">
    <link rel="stylesheet" type="text/css" href="css/<%= name %>.css">

</head>
<body>
<h1><%= recipient.name %></h1>
<script type="text/javascript">



    

</script>
</body>
</html> 